.App{
  background-color:white;
  min-height: 100vh;
  color: black;
  font-family: "Segoe UI", sans-serif;
  font-size: 16px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.col5{
  padding-top: 120px;
  padding-right: 100px;
  padding-bottom: 50px;
  padding-left: 20px;
}

.col6{
  padding-top: 120px;
  padding-right: 100px;
  padding-bottom: 50px;
  padding-left: 20px;
}
